.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;
}

@media (max-width: 768px) {
    .loading .splashSvg {
        width: 50vw;
    }
}


@media (max-width: 480px) {
    .loading .splashSvg {
        width: 40vw; 
    }
}