

.welcomeGrid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    font-size: 2.5rem;
    width: 40%;
    gap: 1.4rem;
    margin-top: 140px;
    margin-left: 17%;
    margin-right: 200px;
    font-weight: 500;
}
#name {
    color: #892cdc;
}

.text-3{
    padding-top: 55px;
    font-size: 2.2rem;
    color: #892cdc;
}
.ikbalImage img{
    display: block;
    max-width: 100%; 
    margin-left: 20px; 
    float: right;
    right: 600px; 
    transform: translateY(-48%);
    margin-right: 200px;
}
@media (max-width: 1330px) {
    .ikbalImage img{ 
        height: 400px;
        width: 400px;
        transform: translateY(-68%);
        margin-right: 100px;
        display: block;
    } 
    .welcomeGrid {
      width: 50%;
      white-space: nowrap;
      gap: 20px;
    }
    .text-3{
      padding-top: 55px;
      font-size: 1.8rem;
      white-space: nowrap;
  }

}
@media (max-width: 1150px) {
  .ikbalImage img{ 
      height: 350px;
      width: 350px;
  } 
  .welcomeGrid {
    white-space: nowrap;
  }
  .text-3{
    padding-top: 55px;
    font-size: 1.8rem;
    white-space: nowrap;
}
@media (max-width: 1100px) {
  .ikbalImage img{ 
      height: 300px;
      width: 300px;
  } 
  .welcomeGrid {
    width: 50%;
    font-size: 2.2rem;
    padding-right: 200px;
  }
  .text-3{
    padding-top: 55px;
    font-size: 1.8rem;
  }
}
@media (max-width: 910px) {
  .ikbalImage img{
    transform: translateX(45%);
  }
}


}
@media (max-width: 768px) {
    .welcomeGrid {
      font-size: 2rem;
      width: 90%;
      margin-left: auto; 
      margin-right: auto;
      gap: 1rem;
    }
    .ikbalImage {
        position: static; 
        display: block;
        margin: 0 auto; 
        max-width: 100%; 
      }
  
    .text-3 {
      font-size: 1.8rem;
    }
  }
  @media (max-width: 570px){
    .welcomeGrid {
      font-size: 1.5rem;
      text-align: center;
      width: 90%; 
      margin-top: 130px;
      margin-bottom: 110px; 
      gap: 0.5rem;
      padding: 0;
    }
    .ikbalImage img {
      height: 250px;
      width: 250px;
      margin-right: 250px;
      margin-bottom: 120px;
    }
    .ikbalImage {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .text-3 {
      font-size: 1.4rem;
    }
  }
